{% load static %}
<!-- Script -->
{% if instance.image %}
  <a style="height:120px; overflow:hidden;" href="{{ instance.get_absolute_url }}">
    <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
  </a>
{% endif %}

<div class="card-body p-2" style="border: 1px solid rgba(0,0,0,.125); */border-radius: 0;border-bottom: 0px;">
    

<h6 class="card-title mb-1" style="font-size: 12px; font-weight: 700;">{{ instance.title }}, {{ instance.serving_size|floatformat }}oz</h6>
  
      <p class="card-text">
      {{ instance.company }} <br />
      {{ instance.company_location }} <br />
      {{ instance.description|truncatewords:12 }} <br />
      
      {% if instance.alcohol_type == "beer" %}
          {% if instance.beer_style == "ipa" %}
            <a style="text-transform:uppercase">{{ instance.beer_style }}</a><br />
          {% elif instance.beer_style == "stout" %}
            <a style="text-transform: capitalize">
              {{ instance.beer_style }}<br />
            </a>
          {% else %}
            <a style="text-transform: capitalize">
              {{ instance.beer_style }} {{ instance.beer_type }} <br />
            </a>
          {% endif %}
        IBU: {{ instance.ibu }} <br />
      {% endif %}
      {% if instance.alcohol_type == "other" %}
        {{ instance.wine_type }}
      {% endif %}
      ABV: {{ instance.abv }}% <br />
    </p>

  <button class="btn btn-link pl-0 pb-0 pt-0" type="button"  data-toggle="modal" data-target="#{{instance.slug}}">
    <img class="align-baseline" style="width: 10px;" src="/media/products/11111/location-cursor.png" alt="location icon"/> 
    <a style="font-size:14px;">Near Section {{ instance.stand_location }}</a>
  </button>
  
  {% include 'products/snippets/modal_card.html' %}

</div>

<div class="card-footer" style="padding: .3rem .5rem; border-left: 1px solid rgba(0,0,0,.125);border-right: 1px solid rgba(0,0,0,.125);border-bottom: 1px solid rgba(0,0,0,.125);">  
  <div class="card-block">
    <span><a class="card-text pull-left mb-0">${{instance.price}}</a></span>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary pull-right" style="padding: .3rem .75rem;font-size: .75rem;line-height: 1;border-radius: .2rem;">View</a>
  </div>
</div>
