{% load static %}

  {% if instance.image %}
        <a href="{{ instance.get_absolute_url }}">
          <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
        </a>
  {% endif %}
  
  <div class="card-body p-2">
    
    <h6 class="card-title mb-1" style="font-size: 12px; font-weight: 700;">
      {{ instance.title }}
        {% if instance.diet %}
          {% for item in instance.diet %}
            {% if item == "vegetarian" %}
              <img style="width: 15px;" src="/media/products/11111/vegetarian-icon.png" alt="vegetarian icon"/>
            {% endif %}
            {% if item == "gluten_free" %}
              <img style="width: 15px;" src="/media/products/11111/gluten-free-icon.png" alt="gluten-free icon"/>
            {% endif %}
          {% endfor %}
      {% endif %}
    </h6>

    <p class="card-text mb-0" style="font-size: 11px; line-height: 1.2em; font-weight: 400;letter-spacing: -.2px;"> {{ instance.description|truncatewords:12 }}</p>

<!--  
  <div class="pt-1" style="line-height: .8;">
    {% if instance.stand_name %}
      <a class="h5" style="font-size: 10px;">Stand Name:</a><a style="font-size: 10px;"> {{instance.stand_name}}</a> </br>
    {% endif %}
      <a class="h5" style="font-size: 10px;">Located Near:</a><a style="font-size: 10px;"> Stand {{instance.stand_location}}</a> <br/>
      <a href="#" style="font-size: 10px;">See Map</a> <br/>
  </div>
-->

<a href="#" style="font-size: 12px; font-weight: 600;">See Location</a> <br/>
</div>  
  <div class="card-footer" style="padding: .3rem .5rem;">  
      <div class="card-block">
          <span class="align-bottom"><a class="card-text pull-left mb-0">${{instance.price}}</a></span>
          <a href="{{ instance.get_absolute_url }}" class="btn btn-primary pull-right" style="padding: .3rem .75rem;font-size: .75rem;line-height: 1;border-radius: .2rem;">View</a>
      </div>
  </div>
