{% load static %}
<!-- Script -->
{% if instance.image %}
  <a style="height:112px; overflow:hidden;" href="{{ instance.get_absolute_url }}">
    <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
  </a>
{% endif %}

<div class="card-body p-2" style="border: 1px solid rgba(0,0,0,.125); */border-radius: 0;border-bottom: 0px;">
    
  <div class="card-block">
  <h6 class="card-title mb-1" style="font-size: 12px; font-weight: 700;">
    {{ instance.title }}
    {% include 'products/snippets/dietary_icons.html' %}
  </h6>
  
  <p class="card-text mb-0" style="font-size: 11px; line-height: 1.2em; font-weight: 400;letter-spacing: -.2px;"> {{ instance.description|truncatewords:12 }}</p>

  <button class="btn btn-link pl-0 pb-0 pt-0" type="button"  data-toggle="modal" data-target="#{{instance.slug}}">
    <img class="align-baseline" style="width: 10px;" src="/media/products/11111/location-cursor.png" alt="location icon"/> 
    <a class="card-link" style="font-size:14px;">
        {% if instance.stand_location|length == 3 %}
          Near Section {{ instance.stand_location }}
        {% else %}
          Near Sections: {{ instance.stand_location|truncatewords:1 }}
        {% endif %}
    </a>
  </button>
  </div>
    {% include 'products/snippets/modal_card.html' %}


</div>

<div class="card-footer" style="padding: .3rem .5rem; border-left: 1px solid rgba(0,0,0,.125);border-right: 1px solid rgba(0,0,0,.125);border-bottom: 1px solid rgba(0,0,0,.125);">  
  <div class="card-block">
    <span><a class="card-text pull-left mb-0">${{instance.price}}</a></span>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary pull-right" style="padding: .3rem .75rem;font-size: .75rem;line-height: 1;border-radius: .2rem;">View</a>
  </div>
</div>
