<div class="modal fade" id="{{instance.slug}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <a href="{{ instance.get_absolute_url }}" >{{ instance.title }}</a>
          <div class="pt-0" style="line-height: .8;">
            {% if instance.stand_name %}
              <a class="h5" style="font-size: 14px;font-weight:600;">Stand Name:</a><a style="font-size: 14px;"> {{instance.stand_name}}</a> </br>
            {% endif %}
            <a class="h5" style="font-size: 14px;font-weight:600;">Located Near:</a><a style="font-size: 14px;"> Stand {{instance.stand_location}}</a> <br/>
          </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="container h-100 mx-auto pb-3">
          <div class="row h-100 justify-content-center align-items-center">
            <form class="form-inline section-form col-12" name="post-form" id="post-form">
              <div class="form-row mx-auto justify-content-center col-12">
                <input class="form-control form-control-sm col-8" id='{{instance.slug}}-section' name="myname" type="text" placeholder="Your Section" style="font-size:16px">
                <button type="submit" data-backdrop="static" class="btn btn-primary btn-sm ml-2 update">Update</button>
                                <div class="invalid-feedback">
                  Please provide a valid section number.
                </div>
              </div>
            </form>
          </div>
        </div>
        <img class="align-top arenamap" style="width:100%;" src="/media/locations/map-trial.png" alt="arena map"/>
        <img class="align-top arenamap topmap" style="width:100%; display:none; position:absolute;top: 50px;left: 0px;padding: 15px; opacity:0.3;" src="//:0" alt="arena map"/>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      
    </div>
  </div>
</div>