{% extends "base.html" %}
{% block content %}

  <div class='row mb-3'>  
    {% if request.GET.q %}
      <div class='col-12'>
        Results for {{ request.GET.q }}
        <hr />
      </div>
    {% else %}
      <div class='col-12 col-md-6 mx-auto py-5'>
          <form method='GET' action='{% url "search:query" %}' class="form my-2 my-lg-0">
            {% include 'search/snippets/query.html' %}
            {% include 'search/snippets/checkboxes.html' %}
          </form>
      </div>
     <div class='col-12'>
          <hr />
      </div>
    {% endif %}
  </div>
  
  <div class='row'>
    {% include 'search/snippets/food_view.html' %}
  </div>
  <a>Hey! I'm a divider!!</a>
  <div class='row'>
    {% include 'search/snippets/beverage_view.html' %}
  </div>
  

  <!--<div class='row'>-->
  <!--  {% for obj_class in object_list %}-->
  <!--    {% if forloop.first %}     -->
  <!--      {% for obj in obj_class %}-->
  <!--        <div class='col'>-->
  <!--          {% include 'products/snippets/food_card.html' with instance=obj %}-->
  <!--          {% if forloop.counter|divisibleby:2 %}-->
  <!--            </div></div><div class='row'><div class='col-12'><hr /></div>-->
  <!--          {% else %}-->
  <!--            </div>-->
  <!--          {% endif %}-->
  <!--      {% endfor %} -->
  <!--    {% else %}-->
  <!--      {% for obj in obj_class %}-->
  <!--        <div class='col'>-->
  <!--          {% include 'products/snippets/beverage_card.html' with instance=obj %}-->
  <!--          {% if forloop.counter|divisibleby:2 %}-->
  <!--            </div></div><div class='row'><div class='col-12'><hr /></div>-->
  <!--          {% else %}-->
  <!--            </div>-->
  <!--          {% endif %}-->
  <!--      {% endfor %}       -->
  <!--    {% endif %}-->
  <!--  {% endfor %}-->
  <!--</div>-->
  
{% endblock %}