{% extends "base.html" %}
{% block content %}

  <div class='row mb-3'>  
    {% if request.GET.q %}
      <div class='col-12'>
        Results for {{ request.GET.q }}
        <hr />
      </div>
    {% else %}
      <div class='col-12 col-md-6 mx-auto py-5'>
          <form method='GET' action='{% url "search:query" %}' class="form my-2 my-lg-0">
            {% include 'search/snippets/query.html' %}
            {% include 'search/snippets/checkboxes.html' %}
          </form>
      </div>
     <div class='col-12'>
          <hr />
      </div>
    {% endif %}
  </div>
  
  <div class='row'>
    <h3>I'm the food divider!</h3>
  </div>
  <div class='row'>
    {% include 'search/snippets/food_view.html' %}
  </div>
  <div class='row'>
    <h3>I'm the beverage divider!</h3>
  </div>
  <div class='row'>
    {% include 'search/snippets/beverage_view.html' %}
  </div>

{% endblock %}