<div class='mb-3'>
    {% for obj_class in object_list %}
        {% if forloop.last %}
         <div class='col-12 px-0 mx-auto'>
            <div class="card-group" style="flex-direction: row;">
              {% for obj in obj_class %}
                
                {% if forloop.counter|divisibleby:2 %}
                    <div class="card ml-1" style="border:0;">
                    {% include 'products/snippets/beverage_card.html' with instance=obj %}
                    </div>

                    </div></div>
                    <div class='col-12 px-0 mx-auto'>
                      <div class="card-group" style="flex-direction: row;">

                {% else %}
                    <div class="card mr-1" style="border:0;">
                      {% include 'products/snippets/beverage_card.html' with instance=obj %}
                    </div>
                    
                {% endif %}
              

            {% endfor %} 
        {% endif %}
    {% endfor %}
</div>