    <p>FOOD</p>
    <a>Course: </a>
        <div class="form-check form-check-inline">
          
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="appetizer" name="course" value="appetizer"> Appetizer
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="entree" name="course" value="entree"> Entree
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="dessert" name="course" value="dessert"> Dessert
      </label>
    </div>
    
    <div class="form-check form-check-inline">
      <a>Dietary Restrictions: </a>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="vegetarian" name="diet" value="vegetarian"> Vegetarian
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="gluten_free" name="diet" value="gluten_free"> Gluten-Free
      </label>
    </div>
    
  <p>DRINK</p>
    

    
    <div class="form-check form-check-inline">
      
      <a>Category: </a>
      
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="alcohol" name="beverage_type" value="alcohol"> Alcohol
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="non_alcohol" name="beverage_type" value="non_alcohol"> Non-Alcohol
      </label>
    </div>
    
    <div class="form-check form-check-inline">
      
      <a>Type (If Alcohol): </a>
      
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="beer" name="alcohol_type" value="beer"> Beer
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="wine_cider" name="alcohol_type" value="wine_cider"> Wine & Cider
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="hard_alcohol" name="alcohol_type" value="hard_alcohol"> Hard Alcohol
      </label>
    </div>
    
    <div class="form-check form-check-inline">
      
      <a>Serving: </a>
      
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="cup" name="serving_type" value="cup"> Cup
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="can_bottle" name="serving_type" value="can_bottle"> Can / Bottle
      </label>
    </div>