    <p>FOOD</p>
    <a>Course: </a>
        <div class="form-check form-check-inline">
          
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian"> Appetizer
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="gluten_free" name="gluten_free" value="gluten_free"> Entree
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="gluten_free" name="gluten_free" value="gluten_free"> Dessert
      </label>
    </div>
    
    <div class="form-check form-check-inline">
      <a>Dietary Restrictions: </a>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="vegetarian" name="vegetarian" value="vegetarian"> Vegetarian
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="checkbox" id="gluten_free" name="gluten_free" value="gluten_free"> Gluten-Free
      </label>
    </div>
    
  <p>DRINK</p>
    

    
    <div class="form-check form-check-inline">
      
      <a>Category: </a>
      
      <label class="form-check-label">
        <input class="with-gap" type="radio" id="category" name="category" value="food"> Alcohol
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="radio" id="category" name="category" value="beverage"> Non-Alcohol
      </label>
    </div>
    
    <div class="form-check form-check-inline">
      
      <a>Type (If Alcohol): </a>
      
      <label class="form-check-label">
        <input class="with-gap" type="radio" id="category" name="category" value="food"> Beer
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="radio" id="category" name="category" value="beverage"> Wine & Cider
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="radio" id="category" name="category" value="beverage"> Hard Alcohol
      </label>
    </div>
    
    <div class="form-check form-check-inline">
      
      <a>Serving: </a>
      
      <label class="form-check-label">
        <input class="with-gap" type="radio" id="category" name="category" value="food"> Cup
      </label>
      <label class="form-check-label">
        <input class="with-gap" type="radio" id="category" name="category" value="beverage"> Can / Bottle (gray if not beer)
      </label>
    </div>
    
    
