<div class='row mb-3 px-3'>
    {% for obj_class in object_list %}
        {% if forloop.first %}
            {% for obj in obj_class %}
              
              {% if forloop.counter|divisibleby:2 %}
                <div class='col-6 pb-3 mx-auto pl-1'>
                  {% include 'products/snippets/food_card.html' with instance=obj %}
                </div>
              {% else %}
                <div class='col-6 pb-3 mx-auto pr-1'>
                  {% include 'products/snippets/food_card.html' with instance=obj %}
                </div>
              {% endif %}
              

              <hr />
            {% endfor %} 
        {% endif %}
    {% endfor %}
</div>

<!--
<div class='row mb-3 px-3'>
    {% for obj_class in object_list %}
        {% if forloop.first %}
            {% for obj in obj_class %}
              
              <div class='col-6 pb-3'>
                {% include 'products/snippets/food_card.html' with instance=obj %}
                
                {% if forloop.counter|divisibleby:2 %}
                  </div> 
                  </div>
                  <hr />
          
                  <div class='row mb-3 px-3'>

    
    
                
                {% else %}
                  </div> 
                {% endif %}
                
            {% endfor %} 
        {% endif %}
    {% endfor %}
</div>
-->