{% load static %}

<!doctype html>
    <html lang="en">
        <head>
            <!-- Required meta tags -->
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="shortcut icon" href="/media/products/11111/favicon.ico" type="image/x-icon" />
            <title>Spokane Arena</title>
            {% include 'base/css.html' %}
            {% block base_head %} {% endblock %}
        </head>
        <body>
            <div class="container px-1">
                {% block content %}{% endblock %}
            </div>    
            
            
            {% include 'base/js.html' %}
            {% block javascript %}{% endblock %}
        </body>
    </html>