{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row">
    <div class="col-11 mx-auto mt-4">
        <div class="card" >
          <a style="">
            <img class="card-img-top" src='{{ object.image.url }}' alt="Card image cap">
          </a>
          <div class="card-body" style="line-height:1.5;">
            <h5 class="card-title mb-0">{{ object.title }} {% include 'products/snippets/dietary_icons.html' with instance=object.food %}</h5>
            <p class="mb-2" style="line-height:1.5em;font-size:14px;">
                {% if not object.stand %}
                  <a style="font-weight:600">Crust Pizza</a> | Section {{ object.stand_location }}<br />
                {% else %}
                  
                  <a style="font-weight:600">Location:</a> {{object.stand_name}}
                  {% if object.menu != "" %}
                    <a href='{{object.menu}}'>(Menu)</a>
                  {% endif %}
                  <br />
                   Near Section {{ object.stand_location }}
                  
                {% endif %}
            </p>
          
            <hr class="m-0" />
            
            <div class="pt-2">
              <a style="font-weight:700;color:#AAA;">{{ object.food.course|upper }}</a> 
              <a>- {{ object.description }}.</a>
              <br />
            </div>
            
            <div>
              <div class="my-0">
                <button class="btn btn-link p-0" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  See All Ingredients
                </button>
              </div>
              <div class="collapse" id="collapseExample">
                  <p class="font-italic mb-0" style="font-size:12px; font-color:#333;"> Lettuce, Tomatoes, Dressing, Chicken, Lasagna, Alcohol, Red Beans, Apples, Olive Oil, Salt, Pepper, Sugar, Water, Milk, Steak, Beef, Black Beans</p>
              </div>
            </div>
            
          </div>
            <div class="card-footer" style="line-height:1.3;">
              <button class="btn btn-link pl-0 pb-0 pt-0" type="button"  data-toggle="modal" data-target="#customer-review">
                <a class="card-link" style="font-weight:600">Tried it? Let us know your thoughts!</a><br />
              </button>
            </div>
          {% include 'products/snippets/modal_card2.html' %}
        </div>       
    </div>
</div>
{% endblock %}